<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>steampro1</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500">
    <link rel="stylesheet" href="/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body id="body">
    <section id="add-sec">
        <nav class="navbar navbar-light navbar-expand-md" id="main-nav">
            <div class="container-fluid"><a class="navbar-brand" href="#">Brand</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav mx-auto" id="main-navli">
                        <li class="nav-item" role="presentation" id="navli" style="color: rgb(255,255,255);"><a class="nav-link active" id="nav-links" href="#">HOME</a></li>
                        <li class="nav-item" role="presentation" id="navli"></li>
                        <li class="nav-item" role="presentation" id="navli"><a class="nav-link" id="nav-links" href="#">ADD PRODUCTS</a></li>
                        <li class="nav-item" role="presentation" id="navli"><a class="nav-link" id="nav-links" href="#">EDIT PRODUCTS</a></li>
                        <li class="nav-item" role="presentation" id="navli"><a class="nav-link" id="nav-links" href="#">CART</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <section class="formsec" id="form-sec">
        <div class="wave wave1"></div>
        <div class="wave wave2"></div>
        <div class="wave wave3"></div>
        <div class="wave wave4"></div>
        <h1 class="text-center" id="h2" style="color: rgb(255,255,255);padding-top: 66px;">EDIT PRODUCT</h1>
        <p class="text-center" id="h2-para">Edit your steam account &amp; dedicated games details</p>
    </section>
    <section id="realform">
    <div class="contact-clean">
        <form method="post">
            <h2 class="text-center">EDIT PRODUCT</h2><label>Game</label>
            <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Your acc main game" required></div><label>Img Url</label>
            <div class="form-group"><input class="form-control" type="text"></div><label>Steam Id</label>
            <div class="form-group"><input class="form-control" type="text"></div><label>Steam Password</label>
            <div class="form-group"><input class="form-control" type="text"></div><label>Account Description</label>
            <div class="form-group"><textarea class="form-control" name="message" placeholder="Your acc complete games" rows="14"></textarea></div>
            <div class="form-group btn"> <a class="btn btn-primary" href="#">SUBMIT</a> </div>
        </form>
    </div>
</section>
    <script src="/css/jquery.min.js"></script>
    <script src="/css/bootstrap.min.js"></script>
</body>

</html>